*{
box-sizing: border-box;
padding: 0;
margin: 0;
}


body{
	font-family: sans-serif;

}

h1{
	text-align: center;
	font-size: 175%;
	margin: 30px;

}

.row {
  width: 100%;
}

.hed1{
	background-color: #E6B0AA ;
}
.hed2{
	background-color: #AC382B;
}

.hed3{
	background-color: #F5CBA7;
}

@media (min-width: 992px){
  .col-lg-4,.col-lg-12 {
   	float: left;
   }
  .col-lg-4 {
    width: 33.33%
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .col-md-6,.col-md-12{
   	float: left;
   }
 
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }

}

@media (max-width: 767px;){
	.col-sm-12{
		width: 100%;
		float:left;
	}
}

section{
	border: 1px solid black;
	background-color: #707B7C;
	margin: 20px;

}

header{
	font-size: 125%;
	padding: 3px;
	text-align: center;
	border: 1px solid black;
	width: 120px;
	float: right;
}

p{
	clear: right;
	padding: 10px;
}

